{% extends 'books_service/base_paginator.html' %}
{%  block list %}
{%  load i18n %}

<div class="container-fluid">



<div class="table-striped">
  <table class="table">

    <tr>
        <th ><a  href="?ordering=name">{% trans "BookName" %}</a></th>
         <th ><a  href="?ordering=count">{% trans "Count" %}</a></th>
         <th >
             <a  href="?ordering=publisher">{% trans "BookPublisher" %}</a> |
             <a  href="?ordering=author">{% trans "BookAuthor" %}</a></th>
         <th ><a  href="?ordering=price_in">{% trans "BookPriceIn" %}</a></th>
         <th ><a  href="?ordering=bought">{% trans "Bought" %}</a></th>
         <th ><a  href="?ordering=sold">{% trans "Sold" %}</a></th>
         <th ><a  href="?ordering=price_out">{% trans "BookPriceOut" %}</a></th>
         <th >{% trans "SellBook" %}</th>

    </tr>
    {% for book in books_list %}
    <tr {% if book.price_out %} class="bg-danger" {% endif %}>
        <td ><a href="{% url 'book_detail' pk=book.id%}">{{ book.name }}</a></td>
        <td >{{ book.count }}</td>
        <td>
            <a href="{% url 'publisher' pk=book.publisher.id%}">{{ book.publisher.name }}</a> | <a href="{% url 'author' pk=book.author.id%}">{{ book.author.name }} </a>
        </td>
        <td>{{ book.price_in }} грн</td>
        <td>{{ book.bought.date.isoformat }}</td>
        <td>{{ book.sold.date.isoformat }}</td>
        <td>{{  book.price_out|default_if_none:"" }}</td>
        <td >
            {% if not  book.price_out %}
                <a href=" {% url 'sold_book' pk=book.id %}">{% trans "SellBook" %}</a></td>
            {% endif %}
    </tr>
    {% empty %}
        <h2>{% trans "NoBooks" %}</h2>
    {% endfor %}
      </table>
</div>
</div>
{% endblock %}