{%  load i18n %}
<table>
    <tr>
         <th>{% trans "BookName" %}</th>
         <th>{% trans "BookAuthor" %}/ {% trans "BookPublisher" %}</th>
         <th>{% trans "BookGrade" %}</th>
         <th>{% trans "BookPriceIn" %}</th>
         <th>{% trans "BookPriceOut" %}</th>
         <th>{% trans "BookBo" %}</th>

    </tr>
    {% for book in books_list %}

    <tr>
        <td ><a href="{% url 'book_detail' pk=book.id%}">{{ book.name }}</a></td>
        <td>
            <a href="{% url 'author' pk=book.author.id%}">{{ book.author.name }} </a> __
            <a href="{% url 'publisher' pk=book.publisher.id%}">{{ book.publisher.name }}</a>
        </td>
        <td >{%  if book.grade %}
                {% for n in ''|center:book.grade %}
                    <img height=12px src="/media/static/star.webp" >
                {% endfor %}</td>
            {% endif %}
        <td>{{ book.price_in }}</td>
        <td>{{ book.price_out }}</td>
        <td>{{ books.bought.date }}</td>
    </tr>
{% empty %}
    <h2>{% trans "NoBooks" %}</h2>
{% endfor %}
